/* .App {
} */

.App-header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  height: 4.5rem;
  border-bottom: 1px solid #999999;
}
/* 
.App-main {

} */

.App-page {
  max-width: 42rem;
  margin: auto;
  padding: 2rem 1rem;
}
